$main-text-color: #060b35;
$main-bg-color: #fff;
$secondary-title-text-color: #616070;
$button-hover-color: #00acdc;
$button-bg-color: #00acdc;
$card-padding-inline: 16px;
$border-color: #f3f3f3;
$star-width: 16px;
$star-height: 16px;
